@charset "UTF-8";

* {margin: 0; padding: 0; }
li {list-style: none;}
a {text-decoration: none; color: #333;}

html, body {height: 100%;}
table {border-collapse: collapse;}
img {vertical-align: top;}
