@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

html {font-size: 10px;}

body {font-family: 'Pretendard', sans-serif;}

.pc {display: block;}
.mo {display: none;}

.container {max-width: 1520px; margin: 0 auto; padding: 0 50px;}

header {position: absolute; width: 100%; z-index: 3;}
header .topset {}
header .topset .ticket {margin-top: 50px; font-size: 1.8rem; color: #fff; display: flex; align-items: center; gap: 10px; padding: 0 2.343vw;}
header .topset h1 {position: absolute; left: 50%; transform: translateX(-50%); top: 42px;}
header .topset h1 img {}

header nav {margin-top: 20px; display: flex; align-items: center; justify-content: space-between;}
header nav .gnb {display: flex; }
header nav .gnb > li {font-size: 2rem; position: relative;}
header nav .gnb > li > a {color: #fff; padding: 20px 2.343vw; display: flex;}
header nav .gnb > li > a > span {position: relative; }

header nav .gnb > li.melon span::before {content: ""; position: absolute; width: 3px; height: 3px; background: #fff; border-radius: 50%; left: 75%; top: 8%;}

header nav .gnb li .lnb {position: absolute; width: 130%; background: rgba(0,0,0,0.6); border-radius: 30px; padding: 15px 28px; left: 50%; transform: translateX(-50%); top: 100%;}
header nav .gnb li .lnb li {line-height: 55px; text-align: center; border-bottom: 1px solid #888888;}
header nav .gnb li .lnb li:last-child {border: 0;}
header nav .gnb li .lnb li a {color: #fff; font-size: 1.8rem; display: block;}

header nav .gnb li:hover {background: #1bdb55;}
header nav .gnb li .lnb {display: none;}



header nav .gnb2 {display: flex;}
header nav .gnb2 li {font-size: 1.6rem;}
header nav .gnb2 li a {color: #fff; padding: 2rem 1.3vw;}
header nav .gnb2 li.usebuy a {color: #81FFA6;}


#hero {height: 100vh; overflow: hidden;}
#hero video {width: 100%; height: 100%; object-fit: cover;}

#section_box {}
#section_box #section1 {padding: 200px 0;}
#section_box #section1 h2 {font-size: 3.6rem; text-align: center; margin-bottom: 69px;}

#section_box #section1 .content {display: flex; gap: clamp(40px, 3vw, 75px);justify-content: space-between; }
#section_box #section1 .bigimg {width: 60%; position: relative; overflow: hidden; box-shadow: 3px 3px 5px rgba(0,0,0,0.04);}
#section_box #section1 .bigimg::before {content: ""; width: 100%; height: 100%; background: #fff; position: absolute; z-index: 3; transform: rotate(-35deg); left: 30%; top: 70%; }

#section_box #section1 .bigimg .imgbox {position: relative; height: 100%; display: flex; align-items: end; } 
#section_box #section1 .bigimg .imgbox .big {position: relative; display: inline-block;}
#section_box #section1 .bigimg .imgbox .bigimg1 {position: relative; z-index: 2;width: 100%; max-width: 500px; }

#section_box #section1 .bigimg .textinfo {position: absolute; z-index: 4; left: 100%; margin-left: 56px; width: 60%; top: 50%; transform: translateY(-50%);}
#section_box #section1 .bigimg .textinfo .cate {font-size: 1.6rem; color: #555; font-weight: bold;}
#section_box #section1 .bigimg .textinfo h3 {font-size: 4rem; color: #333;}
#section_box #section1 .bigimg .textinfo .singer {font-size: 2rem; font-weight: bold; color: #333;}
#section_box #section1 .bigimg .textinfo .info {margin-top: 30px;}
#section_box #section1 .bigimg .textinfo .info li {display: flex; font-weight: bold; margin-bottom: 3px;}
#section_box #section1 .bigimg .textinfo .info li .tit {font-size: 1.6rem; color: #333; width: 70px;}
#section_box #section1 .bigimg .textinfo .info li .cont {font-size: 1.6rem; color: #333;}




#section_box #section1 .bigimg .imgbox .bigimg2 {position: absolute; right: 0; width: 63%; height: 100%; top: 0; overflow: hidden; }
#section_box #section1 .bigimg .imgbox .bigimg2 img {height: 100%; filter: blur(5px); transform: scale(1.4); opacity: 0.5;}




#section_box #section1 .smallimg {width: 562px; flex-grow: 1; display: flex; gap: 35px; flex-wrap: wrap;;}
#section_box #section1 .smallimg > li {width: 40%; height: 260px; position: relative; border: 1px solid #DADADA; transition: .2s; overflow: hidden; flex-grow: 1;}
#section_box #section1 .smallimg > li:hover {transform: scale(1.1); border: 1px solid #00CD3C; box-shadow: 0 0 5px rgba(0,0,0,0.1);}
#section_box #section1 .smallimg > li > img {width: 100%;}
#section_box #section1 .smallimg > li .textinfo {position: absolute; bottom: 0; padding: 2em 3em; background: rgba(255,255,255,1); box-sizing: border-box; width: 100%; transition: .3s; height: 34%;}
#section_box #section1 .smallimg > li:hover .textinfo {height: 60%; background: rgba(255,255,255,0.8); backdrop-filter: blur(5px); display: flex; flex-direction: column; }
#section_box #section1 .smallimg > li:hover .textinfo .btn_play {opacity: 1; visibility: visible; }
#section_box #section1 .smallimg > li .textinfo .cate {display: none;}
#section_box #section1 .smallimg > li .textinfo h3 {font-size: 2.4rem; text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
#section_box #section1 .smallimg > li .textinfo .singer {font-size: 1.5rem;}
#section_box #section1 .smallimg > li .textinfo .info {display: none;}
#section_box #section1 .smallimg > li .textinfo .btn_play {opacity: 0; visibility: hidden; transition: .3s; display: block; text-align: center; position: absolute; top: 65%; left: 50%; transform: translate(-50%,-50%);}


.mt70 {margin-top: 70px;}

.btn_box {display: flex; }
.btn_more {font-size: 1.6rem; border-radius: 50px; color: #777777; border: 2px solid #777; padding: 10px 40px 10px 26px; position: relative;}
.btn_more::before,
.btn_more::after {content: ""; width: 10px;height: 2px; background: #777; position: absolute; right: 26px; top: 50%; transform-origin: right;}
.btn_more::before {transform:translateY(-50%) rotate(40deg);}
.btn_more::after {transform:translateY(-50%) rotate(-40deg);}

.btn_more:hover::before {animation: btnAni 0.2s;}
.btn_more:hover::after {animation: btnAni2 0.2s;}

@keyframes btnAni {
    0% {transform:translateY(-50%) rotate(40deg);}
    50% {transform:translateY(-50%) rotate(0deg);}
    100% {transform:translateY(-50%) rotate(40deg);}
}
@keyframes btnAni2 {
    0% {transform:translateY(-50%) rotate(-40deg);}
    50% {transform:translateY(-50%) rotate(0deg);}
    100% {transform:translateY(-50%) rotate(-40deg);}
}

.cw {}
.cw .btn_more {color: #fff; border-color: #fff; }
.cw .btn_more:before {background: #fff;}
.cw .btn_more:after {background: #fff;}

.btn_top {width: 63px; height: 63px; border: 3px solid #aaa; border-radius: 50%; position: relative;}
.btn_top::before,
.btn_top::after {content: ""; width: 3px;height: 16px; background: #777; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); transform-origin: top;}
.btn_top::before {transform: translate(-50%,-50%) rotate(40deg); margin-left: 1px;}
.btn_top::after {transform: translate(-50%,-50%) rotate(-40deg); }

.btn_top:hover::before {animation: btnAni3 0.2s; background: #fff;}
.btn_top:hover::after {animation: btnAni4 0.2s; background: #fff;}

.btn_top:hover {background: #1bdb55; border: 3px solid transparent; }

@keyframes btnAni3 {
    0% {transform: translate(-50%,-50%) rotate(40deg);}
    50% {transform: translate(-50%,-50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(40deg);}
}
@keyframes btnAni4 {
    0% {transform: translate(-50%,-50%) rotate(-40deg);}
    50% {transform: translate(-50%,-50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(-40deg);}
}





.halign_left {justify-content: start;}
.halign_center {justify-content: center;}
.halign_right {justify-content: end;}


#section2 {padding: 200px 0; background: url('../images/part2-3.png') center; background-size: cover; position: relative; background-attachment: fixed;}
#section2:before {content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.7); backdrop-filter: blur(10px);}
#section2 .container {display: flex; justify-content: space-between;position: relative; z-index: 3;}
#section2 .container .textbox {}
#section2 .container .textbox strong {font-size: 5rem; color: #fff;  }
#section2 .container .textbox p {font-size: 1.6rem; margin: 17px 0 50px 0; color: #fff;}

#section2 .container .content {display: flex; justify-content: space-between; gap: 30px; align-items: start;}
#section2 .container .content li {position: relative; perspective: 800px; border: 5px solid #fff;}
#section2 .container .content li a {display: block; transition: .5s; transform-style:preserve-3d;}
#section2 .container .content li a .textinfo {position: absolute; width: 100%; background: rgba(0,0,0,0.7); padding: 17px 25px; left: 0; bottom: 0; box-sizing: border-box;  }
#section2 .container .content li a .textinfo h3 {font-size: 1.8rem; margin-bottom: 15px; color: #fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#section2 .container .content li a .textinfo p {font-size: 1.5rem; color: #fff;}
#section2 .container .content li a .textinfo .company {font-size: 1.5rem; color: #AAAAAA;}
#section2 .container .content li a .front {position: relative; z-index: 2;backface-visibility: hidden}
#section2 .container .content li a .back {width: 100%; height: 100%; position: absolute;top: 0; left: 0; transform: rotateY(180deg); backface-visibility: hidden;}
#section2 .container .content li a .textinfo {}



#section2 .container .content li:hover a {transform: rotateY(180deg);}
/* #section2 .container .content li:hover a .back {transform: rotateY(360deg);} */

#section3 {padding: 200px 0; background: url('../images/part3-bg.png') no-repeat -156px -110px;}
#section3 .container {}
#section3 .container h2 {font-size: 3.6rem; text-align: center; margin-bottom: 1.9rem;}

#section3 .container .content {margin-top: 10rem;}

#section3 .container .content li {border-bottom: 1px solid #e9e9e9;display: flex; padding: 2.6rem 5.5rem; font-size: 2rem; color: #575757; justify-content: center; align-items: center;}
/* #section3 .container .content li > * {border: 1px solid #000;} */
#section3 .container .content li .updown {width: 50px; margin-right: 18px; text-align: center; display: flex; align-items: center; }
#section3 .container .content li .number {width: 50px; margin-right: 66px; text-align: center; font-size: 3rem; font-weight: bold; color: #333;}
#section3 .container .content li .thumb {width: 120px; margin-right: 53px;}
#section3 .container .content li .article {margin-right: 18px; width: 300px;}
#section3 .container .content li .article a {}
#section3 .container .content li .article a h3 {font-size: 2.5rem; color: #333;}
#section3 .container .content li .article a .singer {}
#section3 .container .content li .album {margin-right: 44px; flex-grow: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 300px;}
#section3 .container .content li .like {width: 150px; margin-right: 40px; text-align: center; }
#section3 .container .content li .like .heart_number {}
#section3 .container .content li .icon_box {width: 250px; display: flex; align-items: center; gap: 80px;}
#section3 .container .content li .icon_box a {}


footer {background: #333333; padding: 10rem 0;}

.container {}


.floating_menu {position: fixed; right: 50px; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; gap: 10px; z-index: 7;}
.floating_menu> a {font-size: 3rem; width: 50px; height: 50px; border-radius: 10px; background: #fff; display: flex; justify-content: center; align-items: center;}
.floating_menu >a.on {background: #00CD3C; color: #fff;}




/* tablet */
@media screen and (max-width:1024px){
    header nav {border: 1px solid #000; justify-content: center;}
    header nav .gnb {width: 100%;}
    header nav .gnb li {flex-grow: 1;}
    header nav .gnb li a {justify-content: center;}
    header nav .gnb2 {position: absolute; top: 53px; right:1vw;}

    #section_box #section1 .bigimg {width: 80%;}
    #section_box #section1 .content {}
    #section_box #section1 .content .smallimg {width: 20%; gap: 0px;}
    #section_box #section1 .smallimg > li {width: 100%; height: 20%; }
}


/* mobile */
@media screen and (max-width:768px){
    .pc {display: none;}
    .mo {display: block;}


    header nav h1 {padding: 15px 0;}

    header nav .gnb > li {font-size: 15px; }
    header nav .gnb > li a { padding: 15px 2.343vw;}

    header nav .gnb li .lnb {position: relative; top:auto; padding: 0; width: 100%; border-radius: 0;}
    header nav .gnb li .lnb li {line-height: 25px; }
    header nav .gnb li .lnb li a {font-size: 1.6rem;}

    header nav {position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.85); top: 0; right: -100%; flex-direction: column; justify-content: start; margin-top: 0; transition: .5s;}
    header nav.on {right: 0;}
    header nav .gnb {order: 2; flex-direction: column;height: calc(100vh - 204px); overflow: auto; }
    header nav .gnb li {flex-grow: 0;}
    header nav .gnb2 {position: relative; order: 1; top: auto;}
    header nav .gnb2 li a {display: block;}

    .hamburger {width: 40px; height: 40px; position: absolute; border: 1px solid #fff; right: 20px; top: 20px;;}
    .hamburger span {position: absolute; width: 22px; height: 2px; background: #fff; left: 50%; top: 50%; transform: translate(-50%,-50%);}
    .hamburger span::before,
    .hamburger span::after {content: ""; position: absolute; width: 100%; height: 100%; background: #fff; right: 0; transition: .3s;}

    .hamburger span::before {top: -8px;}
    .hamburger span::after {top: 8px;}

    .hamburger.on span::before {width: 50%; right: -1px; transform: rotate(45deg); top: -4px;}
    .hamburger.on span::after {width: 50%; right: -1px; transform: rotate(-45deg); top: 4px;}

}