* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  color: #111;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  z-index: 1;
}
header img{position: absolute;}


header nav{margin-top: 40px; display: flex;align-items: center; justify-content: space-between;}

 

}

nav .gnb {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav .gnb li a  {color: #fff;}

/* HERO */
.hero {
  height: 100vh;
  background: url(hero.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-text {
  margin-left: 120px;
  color: white;
}

.hero-text h1 {
  font-size: 100px;
  letter-spacing: 6px;
}

/* BEST MODEL */
.best-model {
  padding: 120px 0;
  text-align: center;
}

.model-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.model-card {
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.model-card img {
  width: 100%;
}

.price {
  font-weight: bold;
  margin: 20px 0;
}

.btns {
  display: flex;
  gap: 10px;
}

.btns button {
  flex: 1;
  padding: 10px;
  border: 1px solid #111;
  background: white;
}

.btns .dark {
  background: #111;
  color: white;
}

/* HIGHLIGHT */
.highlight {
  height: 80vh;
  background: url(grandeur.jpg) center/cover no-repeat;
  position: relative;
}

.highlight-text {
  position: absolute;
  right: 120px;
  top: 40%;
  color: white;
}

/* GALLERY */
.gallery {
  max-width: 1200px;
  margin: 120px auto;
}

.gallery-main {
  height: 400px;
  background: #ccc;
}

.gallery-thumbs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.gallery-thumbs div {
  flex: 1;
  height: 100px;
  background: #ddd;
}

/* BRAND STORY */
.brand-story {
  padding: 120px 0;
  background: #111;
  color: white;
}

.story-images {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.story-images div {
  flex: 1;
  height: 200px;
  background: #333;
}

/* EVENT */
.event {
  padding: 120px 0;
}

.event-list {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.event-card {
  flex: 1;
  height: 280px;
  background: #eee;
}

/* FOOTER */
.footer {
  background: #111;
  color: #aaa;
  padding: 40px;
  text-align: center;
}
